<h3 style="background: gainsboro; border-radius: 5px; color:darkcyan">Este módulo te permite registrar un nuevo perfil administrador del sistema web</h3>
<form [formGroup]="ionicForm" (ngSubmit)="registerUser()" novalidate > 

  <ion-item lines="full" >
    <ion-label position="stacked">Nombres</ion-label>
    <ion-input clearInput formControlName="name" type="text"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Nombres requeridos.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Mínimo  2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
    Solo se permiten letras.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Apellidos</ion-label>
    <ion-input clearInput formControlName="apellido" type="text" ></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.required">
    Apellidos requeridos.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.pattern">
    Solo se permiten letras.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Dirección</ion-label>
    <ion-input clearInput formControlName="direccion" type="direccion"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.direccion.errors?.required">
    Direccion requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.minlength">
    Mínimo  2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.maxlength">
    Máximo 30 caracteres.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input clearInput maxlength="10" formControlName="mobile" type="text" ></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
    Su números  de teléfono es Requerido.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
    Solo se permiten números.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.minlength">
    Mínimo  9 números.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.maxlength">
    Máximo 10 números.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Correo</ion-label>
    <ion-input clearInput formControlName="email" type="email" ></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
    Email requerido.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
    Email invalido.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input clearInput formControlName="pass" [type]="passwordType" ></ion-input>
    <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
           
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.required">
    Contraseña requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.minlength">
    Contraseña incorrecta.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.pattern">
    Contraseña incorrecta, no se permiten espacios en blanco.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Foto</ion-label>
    <ion-input clearInput formControlName="foto" type="file" accept=".png, .jpg" (change)="enviarimagen($event)" ></ion-input>
  </ion-item>
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="full"  type="submit" color="success" >Registrar</ion-button>
    </ion-col>
  </ion-row>

</form>