<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" (click)="reElectroC()">
      Iniciar Sesion
      <ion-button (click)="reElectroC()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Electrolineras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="homepage">
  
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/Green and Black Refined Sports Football Event Banner (1).jpg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/Green and Black Refined Sports Football Event Banner.jpg"/>
      </div>
      
    </ion-slide>

    <ion-slide>
      <img src="./slide-3.png" />
    </ion-slide>

  </ion-slides>

 <section class="page-content">
  <h1>Todo lo que necesitas saber sobre los puntos de recarga</h1>
 <h2 class="light-green"> <img alt="surtidos puntos" width="42" height="42" src="https://cfassets.electromaps.com/img/surtidor-home.png">
  <br>Localiza los puntos de carga para vehículos eléctricos de uso público</h2>
  <section class="homemapa">
    <img src="../../assets/img/maps.png" width="80%">
  </section> 
  <div class="container">
    <h1> Servicios</h1>
    <div class="row">
      <div class="col">
        <ion-card>
          <img src="../../assets/img/puntodecarga.jpg" />
          <ion-card-header>
            <ion-card-title>Encuentra la mejor opción</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Elige entre los diferentes puntos de carga, segun tu ubicacion actual puedes escoger el punto de carga que mas te conviene.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col">
        <ion-card>
          <img src="../../assets/img/google-maps_2.jpg" />
          <ion-card-header>
            <ion-card-title>Buscar puntos de recarga</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Localiza los puntos de carga mas cercanos a tu posicion sin tener que estar saliendo de la App.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col">
        <ion-card>
          <img src="../../assets/img/5cf726706d14f.jpeg" />
          <ion-card-header>
            <ion-card-title>Datos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Obtener informacion sobre los puntos de carga en un solo lugar.
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div> 
  <section class="apphome">
    <div class="row">
      <h1 style="color: white;">Descarga nuesta app</h1>
      <div class="col">
        <img src="../../assets/img/playstore.png">
      </div>
      <div class="col">
        <img src="../../assets/img/Facil de instalar (3).png">
      </div>
      <div class="row">
        <div class="col-xs-12 app-bottons">

            <a>
              <img src="https://cfassets.electromaps.com/img/app/android.png"  style="width: 150px;" alt="app android">
            </a>
    
          
        </div>
      </div>
      
      
      
    </div>
  </section>
 </section> 
  
  <footer>
    <div class="container footer-middle">
      <!-- <div class = "row">
        <div class ="col">
          <div class="footer-pad">
            <h4>Realizado por:</h4>
            <ul class="list-unstyled">
              <li>Estefania Aguilar</li>
              <li>Carlos Farias</li>
            </ul>
          </div>
        </div>
        <div class ="col">
          <div class="footer-pad">
            <h4>Contactos:</h4>
            <ul class="list-unstyled">
              <li>Estefania Aguilar - 0987456321</li>
              <li>Carlos Farias - 1478523698</li>
            </ul>
          </div>
        </div>
        <div class ="col">
          
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">
            © Copyright 2020 - Todos los derechos reservado. Estefania Aguilar- Carlos Farias
          </p>
        </div>
      </div>
    </div>
  </footer>
</ion-content>