 
  <h1>Notificaciones</h1>
  <input type="text" class="forms-control" placeholder="Buscar.."  [(ngModel)]="filterpost" name="filterpost"/>
<br>
<table class="table table-striped" style="display: table;">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col" >Nombre</th>
      <th scope="col" >Titulo</th>
      <th scope="col" >Fecha</th>
      <th scope="col" ></th>
      <th scope="col" >Acciones</th>
      <th scope="col" ></th>
    </tr>
  </thead>
  <ng-container *ngIf="!notificaciones || notificaciones.length == 0">
    <p class="centrarmensaje">No existen Datos a mostrar.</p>
  </ng-container>
  <tbody *ngFor="let n of notificaciones | filtern: filterpost | paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index">
    <td  style="text-align: center;"> <img src="../../../assets/img/notifi.png" width = "50px"></td>
    <td  style="text-align: center;">{{n.name}}</td>
    <td  style="text-align: center;">{{n.titulo}}</td>
    <td  style="text-align: center;">{{n.fecha}}</td>
    <td  style="text-align: center;"><ion-button  button  color="success" (click)="edit(n.id)">Ver</ion-button></td>
    <td  style="text-align: center;"><ion-button  button  color="primary" (click)="edit(n.id)">Editar</ion-button></td>
    <td  style="text-align: center;"><ion-button  button  color="danger" (click)="eliminarNotify(n.id)">Eliminar</ion-button></td>
  </tbody>
  </table>

  <pagination-controls (pageChange)="pageActual = $event" style="text-align: center;" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

