table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
input{
    border: currentColor;
    border-bottom: #a9a9a9;
    border-bottom-style: solid;
    width: 100%;
}
thead, td{
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
th{
    font-weight: bold; 
    text-align: center;
    font-size: 20px;
}