 
<h3 style="background: gainsboro; border-radius: 5px; color:darkcyan"> Este módulo te permite gestionar las notificaciones creadas</h3>
  <input type="text" class="forms-control" placeholder="Buscar.."  [(ngModel)]="filterpost" name="filterpost"/>
<br>
<table class="table table-striped" style="display: table;">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col" >Nombre</th>
      <th scope="col" >Origen</th>
      <th scope="col" >Título</th>
      <th scope="col" >Tipo</th>
      <th scope="col" >Fecha Vencimiento</th>
      <th scope="col" >Acciones</th>

    
    </tr>
  </thead>
  <tbody *ngFor="let n of notificaciones | filtern: filterpost | paginate: { itemsPerPage: 10, currentPage: pageActual };let indice=index">
    <ng-container *ngIf="!notificaciones || notificaciones.length == 0">
      <p class="centrarmensaje">No existen Datos a mostrar.</p>
    </ng-container>
    <td  style="text-align: center;"> <img src="../../../assets/img/notifi.png" width = "50px"></td>
    <td  style="text-align: center; padding-top: 1%;">{{n.name}}</td>
    <td  style="text-align: center; padding-top: 1%;">{{n.origen}}</td>
    <td  style="text-align: center; padding-top: 1%;">{{n.titulo}}</td>
    <td  style="text-align: center; padding-top: 1%;">{{n.tipo}}</td>
    <td  style="text-align: center; padding-top: 1%;">{{n.fecha | date:'YYYY-MM-dd'}}</td>
    <td  style="text-align: center;"><ion-button  button  color="success" (click)="edit(n.id)">Ver/EDITAR</ion-button><ion-button  button  color="danger" (click)="eliminarNotify(n.id)">Eliminar</ion-button></td>
  </tbody>
  </table>

  <pagination-controls (pageChange)="pageActual = $event" style="text-align: center;" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

