<ion-content class="ion-padding">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

    <ion-card style="min-height: 70vmax; background: whitesmoke;">
      <img src="../../assets/1-removebg-preview.png" height="200px"/>
      <ion-card-header>
        <label class="error-message" style="color: brown;">{{errorMessage}}</label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          
          <ion-input type="text" placeholder="Correo" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <br>
        <ion-item>
          
          <ion-input formControlName="password" placeholder="Contraseña" [type]="passwordType" clearOnEdit="false"></ion-input>
          <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <ion-button color="secondary" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Inicia Sesion</ion-button>
    
    
        <p class="go-to-register">
          No tienes una cuenta aùn? <a (click)="goToRegisterPage()">Crea una cuenta.</a>
        </p>
      </ion-card-content>

      <ion-button (click)="googleL()"> Inicia con Google </ion-button>
    </ion-card>
  </form>
  <ion-grid>
  </ion-grid>
</ion-content>