ion-content{
    --background: #278d91;  /* fallback for old browsers */
    text-align: center;
}
ion-item{
    --background: #8fc7ccc4;  /* fallback for old browsers */
    border-radius: 10px;
    
}
ion-label{
    --color: whitesmoke;
}
ion-label:focus{
    --color: azure;
}
img{
    background: #8fc7ccc4;
}
ion-card{
    background: #8fc7ccc4;
}
ion-label::content{
    --color: azure;
}