<ion-header>
  <ion-toolbar>
      <ion-title style="background-color:  #278d91; text-align: center; color:aliceblue; height: 60px; font-family:'Times New Roman', Times, serif">ELECTROLINERAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon routerLink="/mapa" name="map"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-searchbar type="text" style=" --color:#18585a;--background:rgba(245, 245, 245, 0.705); text-align: left; --icon-color:#18585a; --border-radius:30px" placeholder="Buscar.."  [(ngModel)]="filterpost" name="filterpost"></ion-searchbar>


  <ion-item *ngIf="!items || items.length == 0">
    <p>No existe registros.</p>
  </ion-item>

  <ion-card (click)="expandItem(item)" *ngFor="let item of items | filterep: filterpost">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="item.imagen" alt="imagen" *ngIf="item.imagen">
      </ion-avatar>
      <ion-label button (click)="reRuta(item.id)" >{{item.name}} <ion-icon name="arrow-forward"></ion-icon></ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
