ion-content{
    --background: #278d91;  /* fallback for old browsers */
    text-align: center;
}
ion-item{
    --background: #8fc7ccc4;  /* fallback for old browsers */
    border-radius: 10px;
    
}
ion-label{
    --color: whitesmoke;
}
ion-label:focus{
    --color: azure;
}
ion-label::content{
    --color: azure;
}
ion-fab-button{
    --background: #08A8B5;
}
ion-card {
    --background: #8fc7ccc4;
}
ion-card .list-md{
    --background: #8fc7ccc4;
}
.list-md{
    background: none;
}
input#buscar{
    border: currentColor;
    border-bottom: #a9a9a9;
    border-bottom-style: solid;
    width: 100%;
    height: 50px;;
    background-color: rgba(240, 248, 255, 0.473);
}