<ion-header>
  <ion-toolbar>
    <ion-title style="background-color:  #278d91; text-align: center; color:aliceblue; height: 60px; font-family:'Times New Roman', Times, serif">NOTICIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" routerLink="/dashboard" data-desc="Menú">
      <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
    </ion-fab-button>
   
  </ion-fab-list>
</ion-fab>

<ng-container *ngIf="!items || items.length == 0">
  <p class="centrarmensaje">No existe registros.</p>
</ng-container>

<ion-card (click)="expandItem(item)" *ngFor="let item of items | filtern: filterpost">
  <ion-card-header>
    <ion-card-title>{{item.titulo}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <app-expandable expandHeight="800px" [expanded]="item.expanded">

      <img [src]="item.imagen" alt="imagen" *ngIf="item.imagen" width="250px">

      <ion-list>         
          <ion-item>
            <h3>{{item.texto}}</h3>
          </ion-item>
      </ion-list>
    </app-expandable>
  </ion-card-content>
</ion-card>

</ion-content>
