ion-content{
    --background: #278d91;  /* fallback for old browsers */
    text-align: center;
}
ion-item{
    --background: #8fc7ccc4;  /* fallback for old browsers */
    border-radius: 10px;
    
}
ion-label{
    --color: whitesmoke;
}
ion-label:focus{
    --color: azure;
}
ion-label::content{
    --color: azure;
}
ion-fab-button{
    --background: #08A8B5;
}
ion-card {
    --background: #14323581;
}
ion-card .list-md{
    --background: #08a7b567;
}
ion-footer{
    --background: #44a73079;
}
.list-md{
    background: none;
}