<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: rgba(47, 98, 100, 0.486); text-align: left; height: 60px;">MENU</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-slides style="background-color: rgba(56, 110, 103, 0.507);" [options]="slideOpts" >
        <ion-slide *ngFor="let item of items | filterd: filterpost">
          <div class="slide">
            <img [src]="item.imagen" *ngIf="item.imagen">
            <h2>{{item.titulo}}</h2>
            <p>{{item.texto}}</p>
          </div>
        </ion-slide>

      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-col size="12"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        
          <ion-row>
            <ion-col size="6" style="background-color: rgba(240, 255, 247, 0.384); border-radius: 5%; width: 90%; height: 170px;">
              <img src="../../assets/mapa.png" width="90px"alt="mapa" routerLink="/mapa">
              <h2>Mapa</h2>
            </ion-col>
        
            <ion-col size="6" style="background-color: rgba(240, 255, 247, 0.384); border-radius: 5%; width: 90%; height: 170px;">
              <img src="../../assets/electrolineras.png" width="90px" alt="electrolineras"routerLink="/electrolineras">
              <h2>Electrolineras</h2>
            </ion-col>
          </ion-row>
        
      </ion-col>
    </ion-row>
    <ion-row>
      
        <ion-col >
        
          <ion-row>
            <ion-col size="6" style="background-color: rgba(240, 248, 255, 0.301); border-radius: 5%; width: 90%; height: 170px;" >
              <img src="../../assets/quejas.png" alt="quejas"  width="90px" routerLink="/listarqcs"  >
              <h2>Opinones</h2>
            </ion-col>
          
            <ion-col size="6" style="background-color: rgba(240, 248, 255, 0.301); border-radius: 5%; width: 90%; height: 170px;">
              <img src="../../assets/usuario.png" width="90px" alt="usuario" routerLink="/perfil">
              <h2>Perfil</h2>
            </ion-col>
          </ion-row>
        
      
      </ion-col>
    </ion-row>
    <ion-row>
      
      <ion-col >
      
        <ion-row>
          <ion-col size="6" style="background-color: rgba(245, 240, 255, 0.301); border-radius: 5%; width: 90%; height: 170px;">
            <img src="../../assets/noticias.png" width="100px" alt="quejas"  routerLink="/noticias"  >
            <h2>Noticias</h2>
          </ion-col>
          <ion-col size="5">
            
          </ion-col>
        </ion-row>
      
    
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="logout()" expand="block" style="--background: rgba(0, 139, 63, 0.562);">
          Cerrar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

