ion-content{
    --background: #278d91;  /* fallback for old browsers */
    text-align: center;
}
ion-item{
    --background: #8fc7ccc4;  /* fallback for old browsers */
    border-radius: 10px;
    
}
ion-label{
    --color: whitesmoke;
}
ion-label:focus{
    --color: azure;
}
ion-label::content{
    --color: azure;
}
.swiper-slide img{
    width: 100px;
}
ion-toolbar{
    background-color: #67B26F !important;
}