
<ion-content fullscreen class="ion-padding" scroll-y="false" class="page-content">
  <ion-slides pager = "true" [options]="slideOpts" style="background-color: rgba(0, 0, 0, 0.192);">
    <ion-slide  >
        <img src="../../assets/3-removebg-preview.png" >
        <h2>ELQ</h2>
        <p style="color: snow;" >ELQ app es una aplicacion que te permitira encontrar un punto de carga para tu vehiculo de manera mas rapida y segura.</p>     
    </ion-slide>
    <ion-slide>
      <img src="../../assets/2-removebg-preview.png" />
      <h2>Que es punto de carga?</h2>
      <p style="color: snow;" >Los punto de carga son lugares donde existen conectores para que puedas recargar tu vehiculo
      .</p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/4-removebg.png" />
      <h2>Rutas</h2>
      <p style="color: snow;">ELQ te permitira establecer una ruta hacia tu destino desde donde te encuentres</p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/1-removebg-preview.png" />
      <h2>ELQ te da la bienvenida...</h2>
      <p style="color: snow;">Inicia sesión o registrate para empezar</p>
      
    </ion-slide>
  </ion-slides>

  <ion-grid class="full-width">
    <ion-row >
      <ion-col>
        <ion-button (click)="login()" expand="full" style="--background: rgba(230, 238, 238, 0.445); --color:#696969; " >Iniciar Sesión</ion-button>
      </ion-col>
      <ion-col >
        <ion-button (click)="register()" expand="full" style="--background: rgba(0, 139, 30, 0.445);" >Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>