<ion-content>
  <ion-card  style = "text-align: center;">
    <img [src]="items.imagen" width="140px" style="padding-top: 5%;"/>
    <ion-card-header>
      <h1 style="color: aliceblue;" >{{items.name}}</h1>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="expandItem(list1)">
    <ion-card-header>
      <ion-card-title style="align-content:flex-end;">Datos: <ion-icon name="arrow"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="true">                
        <h3 style="color: aliceblue;"> Ubicada en {{items.direcion}}</h3>
        <h3 style="color: aliceblue;" > Como referencia {{items.referencia}}</h3>  
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="expandItem(list2)">
    <ion-card-header>
      <ion-card-title>Horarios: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="list2.expanded">                
        <h3 style="color: aliceblue;">De Lunes a Viernes esta disponible de {{items.lunes}}</h3>
        <h3 style="color: aliceblue;">Los Sabados de {{items.martes}}</h3>
        <h3 style="color: aliceblue;" >Los Domingos de {{items.miercoles}}</h3>
        <h3 style="color: aliceblue;" >Los Feriados de {{items.jueves}}</h3> 
        <h3 style="color: aliceblue;" >Nota:  {{items.horariotexto}}</h3>   
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="expandItem(list3)">
    <ion-card-header>
      <ion-card-title>Forma de Pago: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="list3.expanded">                
        <h3 style="color: aliceblue;" >Ten en cuenta que el uso de la electrolinera {{items.formaspago}}</h3> 
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="expandItem(list4)">
    <ion-card-header>
      <ion-card-title>Tipo conector: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="list4.expanded">                
        <h3 style="color: aliceblue;" >El tipo de conector disponible es {{items.tipoconector}}</h3> 
        <h3 style="color: aliceblue;" >Cuenta con {{items.numeroconectores}} conector(es)</h3> 
      </app-expandable>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer translucent = "true" style="background-color: rgba(20, 112, 119, 0.493);">
  <ion-segment >
    <ion-segment-button value="friends" (click)="reRuta()" style="background-color: rgba(240, 248, 255, 0.349);">
      <ion-label>Ruta</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light">
      <ion-icon routerLink="/mapa" name="map"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon routerLink="/electrolineras" name="list"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
