ion-content{
    --background: #278d91;  /* fallback for old browsers */
    
}
ion-item{
    --background: #8fc7cc13;  /* fallback for old browsers */
    border-radius: 10px;
    
}
ion-label{
    --color: whitesmoke;
}
ion-label:focus{
    --color: azure;
}
ion-label::content{
    --color: azure;
}
ion-fab-button{
    --background: #08A8B5;
}
ion-card {
    --background: #14323581;
}
ion-card .list-md{
    --background: #08a7b567;
}
.list-md{
    background: none;
}

ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color:rgba(0, 0, 0, 0.288);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.205), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}
