<ion-content>
  <ion-card  style = "text-align: center;">
    <img [src]="items.imagen" width="140px" style="padding-top: 5%;"/>
    <ion-card-header>
      <h1 style="color: aliceblue;" >{{items.name}}</h1>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="expandItem(list1)">
    <ion-card-header>
      <ion-card-title style="align-content:flex-end;">Datos: <ion-icon name="arrow"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="true">                
        <h3 style="color: aliceblue;"> Ubicada en {{items.direcion}}</h3>
        <h3 style="color: aliceblue;" > Como referencia {{items.referencia}}</h3>  
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="expandItem(list2)">
    <ion-card-header>
      <ion-card-title>Horarios: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="true">    
        <h3 style="color: aliceblue;" >Lunes a Viernes entre {{lunes1}} y {{lunes2}}</h3>
        <h3 style="color: aliceblue;" >Los Sabados entre {{martes1}} y {{martes2}}</h3>
        <h3 style="color: aliceblue;" >Los Domingos entre {{miercoles1}} y {{miercoles2}}</h3>
        <h3 style="color: aliceblue;" >Los Feriados entre {{jueves1}} y {{jueves2}}</h3> 
        <h3 style="color: aliceblue;" >Nota:  {{items.horariotexto}}</h3>   
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="expandItem(list3)">
    <ion-card-header>
      <ion-card-title>Forma de Pago: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="true">                
        <h3 style="color: aliceblue;" >Ten en cuenta que el uso de la electrolinera {{items.formaspago}}</h3> 
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="expandItem(list4)">
    <ion-card-header>
      <ion-card-title>Tipo conector: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="true">                
        <h3 style="color: aliceblue;" >El tipo de conector disponible es {{items.tipoconector}}</h3> 
        <h3 style="color: aliceblue;" >Cuenta con {{items.numeroconectores}} conector(es)</h3> 
      </app-expandable>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer translucent = "true" style="background-color: rgba(20, 112, 119, 0.493);">
  <ion-grid>
    <ion-row>
      <ion-col size="10">     
        <ion-button style="--background: rgba(230, 238, 238, 0.445); --color:#696969; font-size: smaller;" expand="block" size="large"  (click)="reRuta()" >Ruta</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" routerLink="/mapa" data-desc="Mapa">
      <ion-icon routerLink="/mapa" name="map"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/electrolineras" data-desc="Electrolineras">
      <ion-icon routerLink="/electrolineras" name="list"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/dashboard" data-desc="Menú">
      <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
