<h3 style="background: gainsboro; border-radius: 5px; color:darkcyan">Este módulo te permite editar la información de la electrolinera</h3>
<h3 class="box-title m-b-20"></h3>
<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate > 
  <ion-row>
    <ion-col>
      <ion-label position="stacked">Datos:</ion-label>
      <!-- nombre -->
      <ion-item lines="full" Acción>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="name" type="text" [(ngModel)]="electrolinera.name"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
        Nombre requeridos.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
        Mínimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
        Solo se permiten letras.
      </span>
      <br>
      <!-- referencia -->
      <ion-item lines="full" Acción>
        <ion-label position="stacked">Referencia</ion-label>
        <ion-input formControlName="referencia" type="text" [(ngModel)]="electrolinera.referencia"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.referencia.errors?.required">
        Referencia requerida.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.referencia.errors?.minlength">
        Mínimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.referencia.errors?.maxlength">
        Máximo 20 caracteres.
      </span>
      <br>
    <ion-row>
      <ion-col>
        <!-- tipo conector -->
        <ion-item lines="full" Acción>
          <ion-label position="stacked">Tipo Conector</ion-label>
          <ion-input formControlName="tipoconector" type="text" [(ngModel)]="electrolinera.tipoconector"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tipoconector.errors?.required">
          Tipo de conector requerido.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tipoconector.errors?.minlength">
          Mínimo 2 caracteres.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tipoconector.errors?.maxlength">
          Mínimo 20 caracteres.
        </span>
      </ion-col>
      <ion-col>
        <!-- numero conectores -->
      <ion-item lines="full" Acción>
        <ion-label position="stacked">Cantidad Conectores</ion-label>
        <ion-input min="1" max="10" formControlName="numeroconectores" type="number" [(ngModel)]="electrolinera.numeroconectores"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.numeroconectores.errors?.required">
        Cantidad requerida.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.numeroconectores.errors?.minlength">
        Mínimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.numeroconectores.errors?.maxlength">
        Mínimo 20 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.numeroconectores.errors?.pattern">
        Mínimo 20 caracteres.
      </span>
      </ion-col>

    </ion-row>
    <br>
    <!-- forma de pago -->
    <ion-item lines="full" Acción>
      <ion-label position="stacked">Forma de Pago</ion-label>
      <ion-input style="text-transform:uppercase;" formControlName="formaspago" type="text" [(ngModel)]="electrolinera.formaspago"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formaspago.errors?.required">
      Forma de pago requerida.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formaspago.errors?.minlength">
      Mínimo 2 caracteres.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formaspago.errors?.maxlength">
      Máximo 20 caracteres.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.formaspago.errors?.pattern">
      Se permiten solo letras.
    </span>
    <br>
    <ion-item lines="full" Acción>
      <ion-label position="stacked">Sector</ion-label>
      <ion-select formControlName="sector" [(ngModel)]="electrolinera.sector">
        <ion-select-option value="Norte">Norte</ion-select-option>
        <ion-select-option value="Centro">Centro</ion-select-option>
        <ion-select-option value="Sur">Sur</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sector.errors?.required">
      Seleciones un estado.
    </span>
    <br>
    <!-- estado -->
    <ion-item lines="full" Acción>
      <ion-label position="stacked">Estado</ion-label>
      <ion-select formControlName="estado" [(ngModel)]="electrolinera.estado">
        <ion-select-option value="Activo">Activo</ion-select-option>
        <ion-select-option value="Inactivo">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.estado.errors?.required">
      Seleciones un estado.
    </span>
      
    </ion-col>


    <ion-col>
      <ion-label position="stacked">Horario:</ion-label>
      <!-- lunes -->

      <ion-item lines="full"> 
        <ion-label position="stacked">Lunes a Viernes: </ion-label>
        <ion-label *ngFor="let itemAux of electrolinera.lunes | keyvalue ">{{itemAux.value}}</ion-label> 
      </ion-item>
      <ion-item lines="full"> 
        <ion-range  required formControlName="lunes" type="time" step="1" snaps ticks  min="0" max="23" id="dual-range" dual-knobs pin color="success" [(ngModel)]="electrolinera.lunes">
          <ion-label slot="start">00:00</ion-label>
          <ion-label slot="end">23:00</ion-label>
        </ion-range>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lunes.errors?.required">
        Rango de horas requerido.
      </span>
     
      <!-- martes -->
      <ion-item lines="full"> 
        <ion-label position="stacked">Sabado: </ion-label>
        <ion-label *ngFor="let itemAux of electrolinera.martes | keyvalue ">{{itemAux.value}}</ion-label> 
      </ion-item>
      <ion-item lines="full">
        <ion-range  required formControlName="martes" type="time" step="1" snaps min="0" max="23" id="dual-range" dual-knobs pin color="success" [(ngModel)]="electrolinera.martes">
          <ion-label slot="start">00:00</ion-label>
          <ion-label slot="end">23:00</ion-label>
        </ion-range>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.martes.errors?.required">
        Rango de horas requerido.
      </span>

      <!-- miercoles -->
      <ion-item lines="full"> 
        <ion-label position="stacked">Domingo: </ion-label>
        <ion-label *ngFor="let itemAux of electrolinera.miercoles | keyvalue ">{{itemAux.value}}</ion-label> 
      </ion-item>
      <ion-item lines="full" >
        <ion-range  required formControlName="miercoles" type="time" step="1" snaps min="0" max="23" id="dual-range" dual-knobs pin color="success" [(ngModel)]="electrolinera.miercoles">
          <ion-label slot="start">00:00</ion-label>
          <ion-label slot="end">23:00</ion-label>
        </ion-range>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.miercoles.errors?.required">
        Hora requerida.
      </span>
      
  

      <!-- Jueves -->
      <ion-item lines="full">
        <ion-label position="stacked">Feriados: </ion-label>
        <ion-label *ngFor="let itemAux of electrolinera.jueves | keyvalue ">{{itemAux.value}}</ion-label> 
      </ion-item>
      <ion-item lines="full" >
        <ion-range  required formControlName="jueves" type="time" step="1" snaps min="0" max="23" id="dual-range" dual-knobs pin color="success" [(ngModel)]="electrolinera.jueves">
          <ion-label slot="start">00:00</ion-label>
          <ion-label slot="end">23:00</ion-label>
        </ion-range>
          
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.jueves.errors?.required">
        Hora requerida.
      </span>
    
        <!-- domingo -->
        <ion-item lines="full">
          <ion-row>
            <ion-col size="4">
              <ion-label position="stacked">Nota: </ion-label>
            </ion-col>
            <ion-col size ="8">
              <ion-input formControlName="horariotexto" type="text" placeholder="Nota sobre el horario?" [(ngModel)]="electrolinera.horariotexto"></ion-input>
            </ion-col>
          </ion-row>    
        </ion-item>
      </ion-col>
    <ion-col style ="text-align: center;">  
      <!-- imagen -->
      <ion-label position="stacked">Imagen:</ion-label>
      <br>
      <br>
        <img [src]= "electrolinera.imagen" width="200px">
      <br>
      <br>
      <ion-col style="text-align: center;">
        <label style="color:rgb(255, 255, 255);" class="btn btn-success">
          CAMBIAR IMAGEN
          <input type="file" accept=".png, .jpg" name="fileSubir" (change)="subirImagen($event)" style="display:none;">
        </label>
      </ion-col>

    </ion-col>
  </ion-row>
  <br>
    <ion-col>
      <ion-label position="stacked">Ubicacion:</ion-label>
      <br>
      <br> 
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 300px;">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)" style="position: inherit !important;"></agm-marker>
      </agm-map>
      
      <br>
      <!-- direccion -->
      <ion-item lines="full" >
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input formControlName="direcion" type="text" [(ngModel)]="electrolinera.direccion" readonly></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.required">
        Direccion requerida.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.minlength">
        Mínimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.maxlength">
        Solo se permiten letras.
      </span>
      <br>
      <ion-row>
        <ion-col>
          <!-- longitud -->
          <ion-item lines="full" >
            <ion-label position="stacked">Longitud</ion-label>
            <ion-input formControlName="longitud" type="text" [(ngModel)]="electrolinera.longitud" readonly></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.longitud.errors?.required">
            Longitud requerida.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.longitud.errors?.minlength">
            Mínimo 2 caracteres.
          </span>
        </ion-col>
        <ion-col>
          <!-- latitud -->
          <ion-item lines="full" >
            <ion-label position="stacked">Latitud</ion-label>
            <ion-input formControlName="latitud" type="text" [(ngModel)]="electrolinera.latitud" readonly></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.latitud.errors?.required">
            Latitud requerida.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.latitud.errors?.minlength">
            Mínimo 2 caracteres.
          </span>
        </ion-col>
      </ion-row>
    </ion-col>

  <!-- boton -->
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button  type="submit" color="success" expand="full">Guardar</ion-button>
    </ion-col>
    
    <ion-col style="text-align: center;">
      <ion-button (click)="cancelar()" color="danger" expand="full" >Cancelar</ion-button>
    </ion-col>
  </ion-row>

</form>

