
<ion-content [fullscreen]="true">


  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 100%; padding: 0;">
    <agm-marker 
        *ngFor="let m of lugares; let i = index"
        [latitude]="m.latitud"
        [longitude]="m.longitud"
        [label]="m.name"
        [markerDraggable]="false"
        (markerClick)="clickedMarker(m.label, i)">
      <agm-info-window>
        <strong>{{m.name}}</strong>
        <strong>{{m.direcion}}</strong>
      </agm-info-window>
      
    </agm-marker>
  </agm-map>

  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngFor="let m of lugares; let i = index">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{m.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{m.direcion}}
      </ion-card-content>
    </ion-card>
  </ion-fab>

</ion-content>



