
<ion-content [fullscreen]="true">


  <agm-map mapId = "4f3ccef30880a1f" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 100%; padding: 0;" (mapClick)="mapClicked($event)">
    <agm-marker 
        *ngFor="let m of lugares; let i = index"
        [latitude]="m.latitud"
        [longitude]="m.longitud"
        [label]="m.name"
        [markerDraggable]="false"
        (markerClick)="clickedMarker(m)">
      
    </agm-marker>
  </agm-map>

  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon routerLink="/dashboard" name="arrow-back"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon routerLink="/electrolineras" name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngIf="visible">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{textos}}
      </ion-card-content>
    </ion-card>
  </ion-fab>

</ion-content>



