
<ion-content [fullscreen]="true">


  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"  mapId = '1cc4b8b373bd6a9f' style="height: 100%; padding: 0;">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)" style="position: inherit !important;"></agm-marker>
  </agm-map>

  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>


  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Electrolinera: Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </ion-fab>

</ion-content>



