<h3 style="background: gainsboro; border-radius: 5px; color:darkcyan">Este módulo te permite ver el detalle de la queja, comentario o sugerencia</h3>
<form  novalidate > 
  <ion-item lines="full" >
    <ion-label position="stacked">Tipo</ion-label>
    <ion-label >{{quejas.Tipo}}</ion-label>
  </ion-item>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Electrolinera</ion-label>
    <ion-label>{{quejas.Origen}}</ion-label>
  </ion-item>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Fecha</ion-label>
    <ion-label >{{quejas.Fecha | date:'YYYY-MM-dd'}}</ion-label>
  </ion-item>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Estado Actual</ion-label>
    <ion-label >{{quejas.Estado}}</ion-label>
  </ion-item>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Contenido</ion-label>
    <ion-label class="ion-text-wrap">{{quejas.Texto}}</ion-label>
  </ion-item>
  <br>
  <ion-item lines="full"  *ngIf="quejas.Estado == estado">
    <ion-label position="stacked">Motivo Rechazo:</ion-label>
    <ion-label class="ion-text-wrap">{{quejas.Razon}}</ion-label>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button  (click)="atras()" color="success" expand="full" >Regresar</ion-button>
    </ion-col>
  </ion-row>

</form>


