:root {
--ion-color-success: #239089;
--ion-color-success-rgb: 35,144,137;
--ion-color-success-contrast: #ffffff;
--ion-color-success-contrast-rgb: 255,255,255;
--ion-color-success-shade: #1f7f79;
--ion-color-success-tint: #399b95;
}