<ion-header>
    <ion-toolbar>
        <ion-title style="background-color: rgba(47, 98, 100, 0.486); text-align: left; height: 60px;">¿Que nos quieres decir?</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="createQCS(validations_form.value)">
        <ion-item>
            <ion-label>Tipo:</ion-label>
            <ion-select formControlName="tipo" interface="popover">
                <ion-select-option value="Queja">Queja</ion-select-option>
                <ion-select-option value="Comentario">Comentario</ion-select-option>
                <ion-select-option value="Sugerencia">Sugerencia</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.tipo">
            <div class="error-message"
              *ngIf="validations_form.get('tipo').hasError(validation.type) && (validations_form.get('tipo').dirty || validations_form.get('tipo').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    

        <ion-item >
            <ion-label>Para:</ion-label>
            <ion-select formControlName="origen" interface="popover" >
                <ion-select-option *ngFor="let item of items"   [value]="item.name"  >{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.origen">
            <div class="error-message"
              *ngIf="validations_form.get('origen').hasError(validation.type) && (validations_form.get('origen').dirty || validations_form.get('origen').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
            <ion-label>Descripcion:</ion-label>
            <ion-textarea rows="10" cols="20" placeholder="Texto..." formControlName="texto"></ion-textarea>    
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.texto">
              <div class="error-message"
                *ngIf="validations_form.get('texto').hasError(validation.type) && (validations_form.get('texto').dirty || validations_form.get('texto').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <br>
          <ion-button class="submit-btn" expand = "full" type="submit" [disabled]="!validations_form.valid" style="--background: cadetblue;">Registrar</ion-button>

          <br>
          <ion-button expand = "full"  style="--background: rgb(202, 105, 105);" routerLink="/listarqcs">Regresar</ion-button>
    </form>
</ion-content>
