<div id="pestanas">
  <ul>
     <li><a (click)="GetTodas()">Todas</a></li>
     <li><a (click)="GetAprobadas()">Aprobadas</a></li>
     <li class="activa"><a>Rechazadas</a></li>
  </ul>
</div>


<h1>Quejas, Comentarios y/o Sugerencias Rechazadas</h1>
<input type="text" class="forms-control" placeholder="Buscar.."  [(ngModel)]="filterpost" name="filterpost"/>
<br>
<table class="table table-striped" style="display: table;">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col" >Tipo</th>
      <th scope="col" >Fecha</th>
      <th scope="col" >Estado</th>
      <th scope="col" >Origen</th>
      <th scope="col" ></th>
      <th scope="col" >Acciones</th>
      <th scope="col" ></th>
    </tr>
  </thead>
  <ng-container *ngIf="!quejas || quejas.length == 0">
    <p class="centrarmensaje">No existen Datos a mostrar.</p>
  </ng-container>
  <tbody *ngFor="let q of quejas | filterq: filterpost | paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index">
    <td   style="text-align: center; padding-top: 10px;"><img src="../../../assets/img/queja.png" width = "50px"> </td>
    <td   style="text-align: center; padding-top: 10px;">{{q.Tipo}}</td>
    <td   style="text-align: center; padding-top: 10px;"> {{q.Fecha}}</td>
    <td   style="text-align: center; padding-top: 10px; background-color: brown;">{{q.Estado}}</td>
    <td   style="text-align: center; padding-top: 10px;">{{q.Origen}}</td>
    <td   style="text-align: center;"><ion-button  button (click)="ver(q.id)" color="primary">Ver</ion-button></td>
    <td   style="text-align: center;"><ion-button  button  color="danger">Rechazado</ion-button></td>
  </tbody>
  </table>
  <pagination-controls (pageChange)="pageActual = $event" style="text-align: center;"  previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>