 
<div id="pestanas">
  <ul>
     <li class="activa"><a>Creadas</a></li>
     <li><a (click)="GetActivas()">Activas</a></li>
     <li><a (click)="GetInactivas()">Inactivas</a></li>
  </ul>
</div>
<h1 class="centrarmensaje">Lista de Electrolineras creadas</h1>
<input type="text" class="forms-control" placeholder="Buscar.."  [(ngModel)]="filterpost" name="filterpost"/>
<br>
<table class="table table-striped" style="display: table;">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col" >Nombre</th>
      <th scope="col" >Estado</th>
      <th scope="col" ></th>
      <th scope="col" >Acciones</th>
      <th scope="col" ></th>
    </tr>
  </thead>
  <ng-container *ngIf="!electrolinera || electrolinera.length == 0">
    <p class="centrarmensaje">No existen Datos a mostrar.</p>
  </ng-container>
  <tbody *ngFor="let electro of electrolinera | filtere: filterpost | paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index">
    <td  style="text-align: center; padding-top: 1%;"> <img src="../../../assets/img/R8447f75e4af9573eb61ef5175cce3821.png" width = "50px"></td>
    <td  style="text-align: center; padding-top: 1%;">{{electro.name}}</td>
    <td  style="text-align: center; padding-top: 1%;">{{electro.estado}}</td>
    <td  style="text-align: center; "><ion-button  button (click)="reEditElectrolinera(electro.id)" color="success" >Ver</ion-button></td>
    <td  style="text-align: center; "><ion-button  button (click)="reEditElectrolinera(electro.id)" color="primary" >Editar</ion-button></td>
    <td  style="text-align: center; "><ion-button  button (click)="eliminarElectrolinera(electro.id)" color="danger">Eliminar</ion-button></td>
  </tbody>
  
  </table>
  <pagination-controls (pageChange)="pageActual = $event" style="text-align: center;" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
