<div id="pestanas">
  <ul>
     <li><a (click)="GetTodos()">Creadas</a></li>
     <li ><a (click)="GetActivas()">Activas</a></li>
     <li class="activa"><a >Inactivas</a></li>
  </ul>

</div>
 <div style="min-height: 300px; background-color: white;">
  <br>
  <h1 class="centrarmensaje">Lista de Electrolineras Inactivas</h1>
  <ng-container *ngIf="!electrolinera || electrolinera.length == 0">
    <p class="centrarmensaje">No existen Datos a mostrar.</p>
  </ng-container>
  <ion-list>
    <div *ngFor="let electro of electrolinera | paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index" style="display: flex;justify-content: center;align-items: center;">
      <div >

        <ion-card [ngStyle]="{'background': 'white' }" *ngIf="electro.estado == estado">
          <ion-row style="border-bottom: solid 1px;border-color: #2355EF;">
            <ion-col>
              <img src="../../../assets/img/R8447f75e4af9573eb61ef5175cce3821.png" width = "50px">   
            </ion-col>
            <ion-col>
              <p style="font-size: 20px;padding: 0px;margin: 0px;font-weight: bold;">
                 <!--La fecha de solicud se envió {{alqui.fecha.toMillis() | date:'dd/MM/yyyy'}}-->
                 {{electro.name}}
              </p>
            </ion-col>
            <ion-col>
              <p style="font-size: 20px;padding: 0px;margin: 0px;font-weight: bold;">
                 {{electro.estado}}
              </p>
            </ion-col>

            <ion-col>
              <ion-button  button (click)="reEditElectrolinera(electro.id)" color="success" >Ver</ion-button>
            </ion-col>
            <ion-col>
              <ion-button  button (click)="reEditElectrolinera(electro.id)" color="primary" >Editar</ion-button>
            </ion-col>
            <ion-col style="text-align: center;">
              <ion-button  button (click)="eliminarElectrolinera(electro.id)" color="danger">Eliminar</ion-button>
            </ion-col>
                     
          </ion-row>

        </ion-card>
      </div>
      
    </div>
    <pagination-controls (pageChange)="pageActual = $event" style="text-align: center;"></pagination-controls>

  </ion-list>