
<ion-content class="ion-padding" >
  <form class="form" [formGroup]="validations_form" style="min-height:100vh; min-width:100%" (ngSubmit)="tryRegister(validations_form.value)">
    <ion-card style="background: whitesmoke;">
      <ion-card-header>
        <img src="../../assets/Q (1).png" style="width:200px">
        <h1>Registrate</h1>
      </ion-card-header>
      
      <ion-card-content>

      <ion-item>
        
        <ion-input type="text" formControlName="nombre" placeholder = "Nombre"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.nombre">
          <div class="error-message"
            *ngIf="validations_form.get('nombre').hasError(validation.type) && (validations_form.get('nombre').dirty || validations_form.get('nombre').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
      
        <ion-input type="text" formControlName="apellido" placeholder= "Apellidos"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.apellido">
          <div class="error-message"
            *ngIf="validations_form.get('apellido').hasError(validation.type) && (validations_form.get('apellido').dirty || validations_form.get('apellido').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="email" placeholder= "Correo"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      
      <ion-item>

        <ion-input type="password" formControlName="password" class="form-controll"  placeholder = "Contraseña" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <label position="floating" style="color:rgb(255, 255, 255)" class="btn btn-info" >IMAGEN
          <input type="file" accept=".png, .jpg" (change)="enviarimagen($event)" style="color:black;display:none;"/>
        </label>
      </ion-item>

      <ion-item *ngIf="image2" style="padding: 10%;">
        <img [src]= "image2" style="width: 200px; ">
      </ion-item>

      <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Registrar</ion-button>
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
    </ion-card-content>
  </ion-card>
  </form>
  
</ion-content>
<ion-footer style="text-align: center; background: rgba(29, 169, 179, 0.384);">
  <p class="go-to-login">Ya tienes una cuenta? <a style="color: darkcyan;" routerLink="/login">Intenta iniciar sesion.</a></p>
</ion-footer>