<ion-header>
  <ion-toolbar>
    <ion-title style="background-color:  #278d91; text-align: center; color:aliceblue; height: 60px; font-family:'Times New Roman', Times, serif">APROBADAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/dashboard" data-desc="Menú">
        <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/crearqcs" data-desc="Añadir">
        <ion-icon routerLink="/crearqcs" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-searchbar type="text" style=" --color:#18585a;--background:rgba(245, 245, 245, 0.705); text-align: left; --icon-color:#18585a; --border-radius:30px" placeholder="Buscar.."  [(ngModel)]="filterpost" name="filterpost"></ion-searchbar>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items | filterap: filterpost">
    
    <ion-card-header  color="danger" *ngIf="item.Estado == rechazado">
      <ion-card-title >{{item.Tipo}} a {{item.Origen}}</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-header  style="background-color: rgba(103, 204, 63, 0.719);" *ngIf="item.Estado == aprobado">
      <ion-card-title >{{item.Tipo}} a {{item.Origen}}</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-header  color="medium" *ngIf="item.Estado == creado">
      <ion-card-title >{{item.Tipo}} a {{item.Origen}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="800px" [expanded]="item.expanded">
        <ion-list>         
            <ion-item>
              <h3>Fecha: {{item.Fecha}}</h3>
            </ion-item>
            <br>
            <ion-item>
              <h3>Estado: {{item.Estado}}</h3>
            </ion-item>
            <br>
            <ion-item>
              <h3>{{item.Texto}}</h3>
            </ion-item>
            
        </ion-list>
      </app-expandable>
    </ion-card-content>
  </ion-card>
 
</ion-content>

<ion-footer translucent = "true" style="background-color: rgba(20, 112, 119, 0.493);">
  <ion-grid>
    <ion-row>
     
      <ion-col size="4">
        <ion-button  routerLink="/listarqcs" style="--background: rgba(230, 238, 238, 0.445); --color:#696969; font-size: smaller;" expand="block" size="large">Pendientes</ion-button>
      </ion-col>
      <ion-col size="4">     
        <ion-button style="--background: rgba(230, 238, 238, 0.445); --color:#696969; font-size: smaller;" expand="block" size="large">Aprobadas</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button   routerLink="/listar-su" style="--background: rgba(230, 238, 238, 0.445); --color:#696969; font-size: smaller;" expand="block"  size="large">Rechazadas</ion-button>
      </ion-col>
    </ion-row> 
  </ion-grid> 
</ion-footer>

