<agm-map  disableDefaultUI="false"  [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 100%; padding: 0;">
  <agm-direction 
    [origin]="origin" 
    [destination]="destination"
  >
  </agm-direction>
</agm-map>
<ion-fab horizontal="start" vertical="top" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button color="light">
      <ion-icon routerLink="/electrolineras" name="list"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
