<agm-map  disableDefaultUI="false"  [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 100%; padding: 0;">
  <agm-direction 
    [origin]="origin" 
    [destination]="destination"
  >
  </agm-direction>
</agm-map>
<ion-footer translucent = "true" style="background-color: rgba(20, 112, 119, 0.493);">
  <ion-segment >
    <ion-segment-button value="rura" (click)="reRuta()" style="background-color: rgba(240, 248, 255, 0.349);" >
      <ion-label>Datos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light">
      <ion-icon routerLink="/mapa" name="map"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon routerLink="/electrolineras" name="list"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
    </ion-fab-button>
   
  </ion-fab-list>
</ion-fab>
