<agm-map  disableDefaultUI="false"  [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 100%; padding: 0;">
  <agm-direction 
    [origin]="origin" 
    [destination]="destination"
  >
  </agm-direction>
</agm-map>

<ion-fab horizontal="start" vertical="top" slot="fixed">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{km}}
    </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-fab>

<ion-footer translucent = "true" style="background-color: rgba(20, 112, 119, 0.493);">
  <ion-grid>
    <ion-row>
      <ion-col size="10">     
        <ion-button style="--background: rgba(230, 238, 238, 0.445); --color:#696969; font-size: smaller;" expand="block" size="large"  (click)="reRuta()" >Más información</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" routerLink="/mapa" data-desc="Mapa">
      <ion-icon routerLink="/mapa" name="map"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/electrolineras" data-desc="Electrolineras">
      <ion-icon routerLink="/electrolineras" name="list"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/dashboard" data-desc="Menú">
      <ion-icon routerLink="/dashboard" name="grid"></ion-icon>
    </ion-fab-button>
   
  </ion-fab-list>
</ion-fab>
