
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate > 
  
      <ion-item lines="full" color="dark">
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input formControlName="name" type="text" [(ngModel)]="usuario.nombres"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
        Nombres requeridos.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
        Minimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
        Solo se permiten letras.
      </span>

      <ion-item lines="full" color="dark">
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input formControlName="apellido" type="text" [(ngModel)]="usuario.apellidos"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.required">
        Apellidos requeridos.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.pattern">
        Solo se permiten letras.
      </span>
    
      <ion-item lines="full" color="dark">
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input formControlName="direccion" type="direccion" [(ngModel)]="usuario.direccion"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.direccion.errors?.required">
        Direccion requerida.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.minlength">
        Minimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.apellido.errors?.maxlength">
        Maximo 30 caracteres.
      </span>
  
      <ion-item lines="full" color="dark">
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input maxlength="10" formControlName="mobile" type="text" required [(ngModel)]="usuario.telefono"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
        Su números  de teléfono es Requerido.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
        Solo se permiten números.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.minlength">
        Minimo 9 números.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.maxlength">
        Maximo 10 números.
      </span>

      <ion-item lines="full" color="dark">
        <ion-label position="stacked">Correo</ion-label>
        <ion-input formControlName="email" type="email" [(ngModel)]="usuario.correo" readonly></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Email requerido.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
        Email invalido.
      </span>


      <ion-row>
        <ion-col>
          <img [src]="usuario.foto" width="200px">
        </ion-col>
        <ion-col>
          <ion-button type="submit" color="danger" (click)="cambiarcontra()">Cambiar contraseña</ion-button>
          <br>
          <br>
          <label style="color:rgb(255, 255, 255)" class="btn btn-info">
            Cambiar foto de perfil
            <input type="file" accept=".png, .jpg" name="fileSubir" (change)="subirImagen($event)" style="display:none;">
          </label>
          <br>
          <br>
          <ion-button type="submit" color="success" >Actualizar</ion-button>
          
        </ion-col>
      </ion-row>
  
    </form>
