<h3 style="background: gainsboro; border-radius: 5px; color:darkcyan">Este módulo te permite registrar un nuevo perfil administrador de electrolinera</h3>
<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate > 
  
  <ion-item lines="full" >
    <ion-label position="stacked">Correo</ion-label>
    <ion-input clearInput formControlName="email" type="text" placeholder="Correo del usuario"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
    Correo requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.minlength">
    Mínimo 5 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
    Formato del correo incorrecto.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input clearInput formControlName="pass" [type]="passwordType" placeholder="Contraseña del usuario"></ion-input>
    <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.required">
    Contraseña requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.minlength">
    Mínimo 2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.maxlength">
    Máximo 10 caracteres.
  </span>
  <br>
  <ion-item lines="full" >
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input clearInput formControlName="phone" type="text" placeholder="Telefono del usuario"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.required">
    Teléfono requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.minlength">
    Mínimo 2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.maxlength">
    Máximo 10 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.pattern">
    Se permiten solo números.
  </span>
  <br>
  <!-- nombre -->
  <ion-item lines="full" >
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input clearInput formControlName="name" type="text" placeholder="Nombre Electrolinera"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Nombre requeridos.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Mínimo 2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
    No se permiten caracteres especiales.
  </span>
  <br>
<!-- direccion -->
<ion-item lines="full" >
  <ion-label position="stacked">Direccion</ion-label>
  <ion-input clearInput formControlName="direcion" type="text" placeholder="Direccion Electrolinera"></ion-input>
</ion-item>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.required">
  Direccion requerida.
</span>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.minlength">
  Mínimo 2 caracteres.
</span>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.maxlength">
  Máximo 50 caracteres.
</span>
<br>

  <!-- boton -->
  <ion-row>
    <ion-col>
      <ion-button expand="full"  type="submit" color="success" >Registrar</ion-button>
    </ion-col>
  </ion-row>

</form>

