<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate > 
  <h3 class="box-title m-b-20">Agregar una nueva Electrolinera</h3>

  <ion-item lines="full" color="dark">
    <ion-label position="stacked">Email</ion-label>
    <ion-input formControlName="email" type="text" placeholder="Correo del usuario"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
    Email requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.minlength">
    Minimo 5 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
    Formato del correo incorrecto.
  </span>

  <ion-item lines="full" color="dark">
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input formControlName="pass" type="text" placeholder="Contraseña del usuario"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.required">
    Contraseña requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.minlength">
    Minimo 2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.maxlength">
    MAximo 10 caracteres.
  </span>

  <ion-item lines="full" color="dark">
    <ion-label position="stacked">Telefono</ion-label>
    <ion-input formControlName="phone" type="text" placeholder="Telefono del usuario"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.required">
    Telefono requerida.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.minlength">
    Minimo 2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.maxlength">
    MAximo 10 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.pattern">
    Se permiten solo numeros.
  </span>
  <!-- nombre -->
  <ion-item lines="full" color="dark">
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input formControlName="name" type="text" placeholder="Nombre Electrolinera"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Nombre requeridos.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Minimo 2 caracteres.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
    Solo se permiten letras.
  </span>

<!-- direccion -->
<ion-item lines="full" color="dark">
  <ion-label position="stacked">Direccion</ion-label>
  <ion-input formControlName="direcion" type="text" placeholder="Direccion Electrolinera"></ion-input>
</ion-item>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.required">
  Direccion requerida.
</span>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.minlength">
  Minimo 2 caracteres.
</span>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.direcion.errors?.maxlength">
  Maximo 50 caracteres.
</span>


  <!-- boton -->
  <ion-row>
    <ion-col>
      <ion-button expand="full"  type="submit" color="success" >Guardar</ion-button>
    </ion-col>
  </ion-row>

</form>

