 
<div id="pestanas">
  <ul>
     <li><a (click)="GetTodos()">Creadas</a></li>
     <li class="activa"><a >Activas</a></li>
     <li><a (click)="GetInactivas()">Inactivas</a></li>
  </ul>
</div>

  <h1 class="centrarmensaje">Lista de Electrolineras Activas</h1>
  <input type="text" class="forms-control" placeholder="Buscar.."  [(ngModel)]="filterpost" name="filterpost"/>
<br>
<table class="table table-striped" style="display: table;">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col" >Nombre</th>
      <th scope="col" >Estado</th>
      <th scope="col" >Ver</th>
      <th scope="col" >Editar</th>
      <th scope="col" >Eliminar</th>
    </tr>
  </thead>
  <ng-container *ngIf="!electrolinera || electrolinera.length == 0">
    <p class="centrarmensaje">No existen Datos a mostrar.</p>
  </ng-container>
  <tbody *ngFor="let electro of electrolinera | filtere: filterpost | paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index">
    <td  *ngIf="electro.estado == estado" style="text-align: center;"> <img src="../../../assets/img/R8447f75e4af9573eb61ef5175cce3821.png" width = "50px"></td>
    <td  *ngIf="electro.estado == estado" style="text-align: center;">{{electro.name}}</td>
    <td  *ngIf="electro.estado == estado" style="text-align: center;">{{electro.estado}}</td>
    <td  *ngIf="electro.estado == estado" style="text-align: center;"><ion-button  button (click)="reEditElectrolinera(electro.id)" color="success" >X</ion-button></td>
    <td  *ngIf="electro.estado == estado" style="text-align: center;"><ion-button  button (click)="reEditElectrolinera(electro.id)" color="primary" >X</ion-button></td>
    <td  *ngIf="electro.estado == estado" style="text-align: center;"><ion-button  button (click)="eliminarElectrolinera(electro.id)" color="danger">X</ion-button></td>
  </tbody>
  
  </table>
  <pagination-controls (pageChange)="pageActual = $event" style="text-align: center;"  previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

 
