    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../assets/img/logo_size_invert.jpg" alt="IMG" (click)="home()">
				</div>

				<form class="login100-form validate-form" (ngSubmit)="loginUser()" [formGroup]="myFormUser" >
					<span class="login100-form-title">
						Inicia sesión
					</span>

					<div class="wrap-input100 validate-input form-group" data-validate = "Valid email is required: ex@abc.xyz">
						<input style="text-align: center" class="input100" type="text" name="email" placeholder="Correo" formControlName="usuarioF">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<ion-icon slot="end" name="mail" ></ion-icon>
						</span>
					</div>

					<div class="wrap-input100 validate-input form-group" data-validate = "Password is required">
                     
						<input  style="text-align: center" class="input100" [type]="passwordType"  name="pass" placeholder="Contraseña" formControlName="passwordF">
						<span class="focus-input100"></span>
						<span class="symbol-input100" (click)='hideShowPassword()'>
							<ion-button shape="round" fill ><ion-icon slot="end" [name]="passwordIcon"></ion-icon></ion-button>
						</span>
					</div>
					
					<div class="container-login100-form-btn form-group">
						<button class="login100-form-btn">
							Inicia sesión
						</button>
					</div>

                    <br>

					
				</form>

                <div class="text-center p-t-12" style="padding: 0px 300px 0px 300px;">

                    <span class="txt1">
                        Recuperar
                    </span>
                    <button class="txt2" (click)="cambiarcontra()">
                        contraseña?
                    </button>

                </div>

			</div>
		</div>
	</div>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->