<h3 style="background: gainsboro; border-radius: 5px; color:darkcyan">Este módulo te permite crear una nueva notificación de noticia o promoción para la app móvil</h3>

<form [formGroup]="ionicForm" (ngSubmit)="submitform()" novalidate > 
  <ion-row>
    <ion-col>
      <ion-item lines="full" >
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input clearInput  formControlName="name" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
        Nombres requeridos.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
        Minimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
        No se permiten carcateres especiales.
      </span>
      <br>
      <ion-item lines="full" >
        <ion-label position="stacked">Título</ion-label>
        <ion-input clearInput formControlName="titulo" type="text" ></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titulo.errors?.required">
        La notificacion requiere un titulo para mostrar.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titulo.errors?.pattern">
        No se permiten carcateres especiales.
      </span>
      <br>
      <ion-item lines="full" >
        <ion-label position="stacked">Texto</ion-label>
        <ion-input clearInput  formControlName="texto" type="text" ></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.texto.errors?.required">
        La notificacion requiere un texto para mostrar.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.texto.errors?.minlength">
        Minimo 2 caracteres.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.texto.errors?.maxlength">
        Máximo 30 caracteres.
      </span>

      <br>
      <ion-item lines="full" >
        <ion-label position="stacked">Fecha vencimiento</ion-label>
        <!-- <ion-input clearInput  formControlName="fecha" type="datetime-local" [minValue]="mydate"></ion-input> -->
        <ion-datetime done-text = "Aceptar" formControlName="fecha" displayFormat="YYYY-MM-DD" [min]="mydate" ></ion-datetime>
        <!-- <ion-datetime formControlName="fecha" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime> -->
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fecha.errors?.required">
        Fecha de vencimiento es requerida.
      </span>
          
      <br>
      <!-- Tipo -->
      <ion-item lines="full" >
        <ion-label position="stacked">Categoria</ion-label>
        <ion-select formControlName="tipo" required>
          <ion-select-option value="Noticia">Noticia</ion-select-option>
          <ion-select-option value="Promocion">Promoción</ion-select-option>
        </ion-select>
    </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="full" >

        <ion-label>Foto</ion-label>
        <br>
        <!-- <ion-input formControlName="foto" type="file" accept=".png, .jpg" (change)="enviarimagen($event)" style="display: none; color:black" ></ion-input> -->
        <label class="btn btn-outline-success">
          <i class="fa fa-image"></i>Cargar Imagen<input style="display: none;" formControlName="foto" type="file" accept=".png, .jpg" (change)="enviarimagen($event)">
        </label>

      </ion-item>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="full"  type="submit" color="success">Guardar</ion-button>
    </ion-col>
  </ion-row>

</form>
